@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

* {

	font-family: 'Comfortaa', 'Arial';
}
body {
	background-color: Gray;
}
button {
	width: auto;
	padding: 0.5em 1em;
	background-color: DarkTurquoise;
	border-color: LightSeaGreen;
	border-radius: 1em; 
}
fieldset{
	margin: 2em 0;
	padding: 2em 3em;
	border-radius: 1em;
	border-color: DarkTurquoise;
}
input {
	width: auto;
	padding: 0.5em 1em;
}
.buttonOption {
	width: 2em;
	height: 2em;
	padding: 2px;
}
.buttonColorDel {
	background-color: Salmon;
	border-color: Crimson;
}
.buttonColorAdd {
	background-color: MediumSpringGreen;
	border-color: LimeGreen;
}
.container {
	margin: 5em 0;
	padding: 2em;
	background-color: LightCyan;
	border-style: solid;
	border-color: DarkTurquoise;
	border-width: 3px 0 0 2em;
	border-radius: 1em; 
}
.subOption {
	margin: 0 3.5em;
}
.middleContent {
	text-align: center;
	margin: 2em;
}
.buttonRightPos {
	border-radius: 0 1em 1em 0; 
}
.inputLeftPos {
	border-radius: 1em 0 0 1em; 
    border-color: DimGray;
}
.main {
	margin: 2em;
	padding: 1em 0;
}
.main > div {
	padding: 2em;
	margin: 1em 0;
	background-color: PaleTurquoise;
	border-style: solid;
	border-color: DarkTurquoise;
	border-width: 3px 0 0 2em;
	border-radius: 1em; 
}
footer {
	padding: 2em;
	text-align: center;
}
/*   Disable: select text   *//*
* {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}